.SidebarControl {
    position: relative;
    width: 100%;
    height: 100%;
    background: #100e17;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.SidebarControl__el {
    position: absolute;
    cursor: pointer;
    bottom: 6rem;
    width: 100%;
    height: 7rem;
    background-color: var(--menu-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.SidebarControl__el > svg {
    transition: transform 0.5s;
}