.Layout {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: 5rem auto 5rem;
    font-family: 'Open Sans', sans-serif;
}
.Header, .Footer {
    position: relative;
    padding: 0 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;
    background: #100e17;
    border-bottom: 1px solid #201c29;
    color: white;
}
.Header {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}
.Footer {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
.Header__title {
    flex-basis: 20%;
    font-weight: bold;
}
.Sidebar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
}