.Layout {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6% auto 6%;
    font-family: 'Open Sans', sans-serif;
}
.Header, .Footer {
    position: relative;
    padding: 0 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
    background: #100e17;
    border-bottom: 1px solid #201c29;
    color: white;
}
.Header__title {
    flex-basis: 20%;
    font-weight: bold;
}